.dark-mode .select2-dropdown {
  background: #222!important;
}
.dark-mode .navbar-light .navbar-toggler {
  color: #fff!important;
}
@media  screen and (max-width: 1024px) {
  .dark-mode .navbar-expanded {
      background: #222!important;
  }
}
.dark-mode .client-item, .dark-mode .please-contrast {
  filter: grayscale(100%) contrast(20%);
}
.dark-mode .navbar.with-gradient~.main-wrapper::before {
  display: none;
}
.list-check-2 li::before, .list-check li::before {
  background-image: url("https://kiriminaja.com/assets/home-2/shape.svg");
}
@media  screen and (min-width: 1024px) {
  .cta-section .img-section {
      opacity: .5;
      position: absolute;
      left: 0;
      width: 100%;
      top: 0;
      filter: blur(3px);
      height: 100%;
      background-image: url('https://kiriminaja.com/assets/home-2/banner-without-text.png');
      background-size: auto 100%;
      background-position-x: -5rem;
      background-repeat: no-repeat;
  }
}
.dark-mode .table {
  color: #fff;
}
.select2-selection__rendered {
  line-height: inherit!important;
  height: auto!important;
  padding: .15rem 0!important;
}
.select2-selection__arrow b{
  display:none !important;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.slider-carousel {
  display: block;
}

.slider-carousel .slide-owl-wrap:not(:first-child) {
  display: none;
}

.slider-carousel img {
  width: 100%;
}
